/* gothic-a1-regular - korean */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body{
    margin:0;
    font-family: "Nanum Gothic", sans-serif;
}
h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
    padding:0 0;
}
a{
    transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}

#header {
    margin-bottom: 20px;
    position: relative;
    left:0;
    right:0;
    margin:0px auto;
    width:100%;
    z-index: 999;
    font-weight: bold;
  }
#container {
  margin: 0px auto;
}
#footer {
    clear: both;
    background: #eaeaea;
    padding: 20px;
}
.footer-cont h3{
    color:#474d56;
}
.footer-cont small{
    color:grey;
}
.footer-cont p{
    font-size: 13;
    padding-top: 2;
}
.nav{
    background-color: white;
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 101;
    top: 0;
    box-shadow:0 0 20px 0 rgba(21,47,95,.2);
}
.nav a {
    text-decoration: none;
    display: block;
}
.nav-btn{
    display: none;
}
.nav-item a{
    padding:17 9 17 9;
    display: block;
    font-size:18px;
}
.nav-item a:hover {
    color:#00aaff;
}
.item-active a{
    color:#00aaff;
}
.nav-index{
    float: left;
    font-size: 30px;
    padding : 30 0;
}
.nav-index > a{
    text-align: center;
    color: lightgrey;
}
.nav-container > ul{
    float:right;
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-container >ul>li{
    display: inline-block;
    padding: 22 30;
}
.item-container a{
    color:#474d56;
}
.item-container a:hover{
    color:#00aaff;
}
#section1 img{
    width:100%;
    max-width:500;
}
.section {
  margin-bottom: 20px;
  border: 1px solid #bcbcbc;
  width:100%;
}
.section h2{
    position: relative;
    padding: 0 17;
}
.section h2::after{
    content:"";
    background:#8575ff;
    position: absolute;
    width: 200;
    left: 0;
    bottom: -15;
    height: 2.5;
}
p {
  margin:0;
  word-break:normal;
  word-wrap:break-word;
}

.p-content{
    white-space: pre-line;
    padding:0 80;
}
/* layer carousel */
#layer-carousel{
    background: grey;
    margin-top: 101;
}
#layer-carousel img{
    width: 100%;
}
.carousel{
    position:relative;
    overflow:hidden;
    height:100%;
    
}
/* nav-dropdown-menu */
.item-container:hover > .nav-dropWrap{
    display: block;
    background:white;
    height: 172;
    position: relative;
    transition: all 1s;
}
.nav-dropWrap{
    display: none;
    transition: all 0.5s;
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
}
.nav-dropDown-menu{
    z-index: 999;
    transition: all 0.5s;
    position: relative;
    margin: 0 auto;
    padding: 0;
}
.nav-dropDown-menu li{
    transition: all 0.5s;
    list-style: none;
}
.nav-dropDown-menu li > ul > li{
    width: 121;
    transition: all 0.5s;
    padding: 11 0 11 35;
}
/* .nav-dropDown-menu li:hover{
    background: #00aaff
} */
.nav-dropDown-menu ul{
    padding:0;
    margin:0;    
    list-style: none;
    float: left;
    transition: all 0.5s;
}

/* col-1~12*/
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, 
.col-7,.col-8,.col-9,.col-10,.col-11, .col-12 {display: flex;}
.col-12{width:100%;}
.col-11{width:91.666%;}
.col-10{width:83.333%;}
.col-9{width:75%;}
.col-8{width:66.666%;}
.col-7{width:58.333%;}
.col-6{width:50%;}
.col-5{width:41.666%;}
.col-4{width:33.333%;}
.col-3{width:25%;}
.col-2{width:16.666%;}
.col-1{width:8.333%;}
.row{width:100%; display: flex;}

/* often-menu > icon - font-awesome*/
#often-menu i{
    font-size: 45px;
    color:gray;
}
#often-menu a{
    text-align: center;
    padding:12 0;
    text-decoration: none;
    color:grey;
    font-size:12;
}
#often-menu{
    margin:50 0;
}
.often-menu-btn{
    margin:0 auto;
}
.often-menu-gird{
    display: inline-grid;
    background-color: #ecf0f2;
}
.often-menu-gird:hover{
    background:#a4b7c1;
}
.often-menu-name{
    margin-top:4px;
}
/* pView (meal, notice, news)*/
#pView{
    margin: 15 0;
}
#pView ul{
    margin: 8 0;
}
.pView-title-head{
    border-bottom: 2px solid #8575ff;
}
.pView-grid{
    display: inline;
    padding: 0 10;
}
.pView-side{
    margin: 0 -10px;
}
.pView-title{
    margin-bottom: 5;
    border-bottom:1px solid #ddd;
}
.pView-table table{
    width: 100%;
    margin-top:10;
}
.pView-table tr{
    margin-bottom: 12;
}
.pView-table a{
    text-decoration: none;
    font-size:13;
    color: #666666;
}
.pView-table a:hover{
    color: #00aaff;
}
.pView-news-thumbnail img{
    width: 100px;
}
.pView-news-thumbnail{
    padding:0;
}
.pView-news-word{
    padding-left: 8;
    width: 65%;
}
.pView-news-sub{
    font-size:13px;
    font-weight: bold;
    color: #2e2e1f;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.pView-news-cont{
    font-size:11px;
    margin-top: 4px;
    color: #666666;
    display: -webkit-box;
    display: -ms-flexbox; 
    display: box; 
    max-height:80px; 
    overflow:hidden; 
    vertical-align:top; 
    text-overflow: ellipsis; 
    word-break:break-all; 
    -webkit-box-orient:vertical; 
    -webkit-line-clamp:6
}
.pView-news-href{
    text-decoration: none;
}
.pView-news-sub:hover{
    color:#00aaff;
}
.pView-news-grid{
    display: flex;
}
.date{
    float:right;
    font-size: 11;
    color: grey;
}
.more{
    float: right;
    font-size: 11;
    margin-top: 3;
    text-decoration: none;
    color: grey;
}
.more:hover{
    color:#00aaff;
}
#photo-slide{
    margin: 40 0;
}
@keyframes slide{
    0%{opacity:1; left:0;}
    33.33%{opacity:0.5; left:-120%;}
    34%{opacity:0;}
    66.66%{left:0; opacity:0;}
    100%{opacity:1;}
}
@media ( min-width: 481px ) {
    #container {
        width: 1100px;
    }
    .section {
        float: left;
    }
}

@media ( max-width: 481px ){
    .item-container{
        width: 0px;
        height:800px;
        right:0;
        top:50px;
        background:red;
        display: block;
        float: right;
        position: absolute;
        transition: all 0.5s;
        font-size: 1rem;
        /*-webkit-transition: width 2s;*/
        /*animation: 2s slide-out ease-in ;*/
    }
    .nav-btn{
        display: inline-block;
        padding:10px;
        float: right;
        margin-top:9.8px;
    }
    .item-container.nav-active {
        width: 150px;
        /*animation: 2s slide-in ease-in ;*/
        /*animation-fill-mode: both;*/
    }
    
    /*@keyframes slide-out {*/
        /*from{*/
            /*width:150px;*/
        /*}*/
        /*to{*/
            /*width: 0px;*/
        /*}*/
    /*}*/

    /*@keyframes slide-in {*/
        /*from{*/
            /*width:0px;*/
        /*}*/
        /*to{*/
            /*width: 150px;*/
        /*}*/
    /*}*/
    .nav-container >ul>li{
        display: block;
        padding: 10px;
        margin-right: 10px;
    }
    /* #header {
        margin-bottom:20px;
        position: fixed;
        left:0;
        right:0;
        margin:0px auto;
        width:auto;
        height:60px;
        margin-top:-120px;
    } */
    .p-content{
        white-space: pre-line;
        padding:0 30;
    }
    .row{
        display: block;
    }
    #pView {
        margin: 0 30;
    }
    #photo-slide{
        margin: 0 20;
    }
    /* col-mobile */
    .col-mb-12{width:100%;}
    .col-mb-11{width:91.666%;}
    .col-mb-10{width:83.333%;}
    .col-mb-9{width:75%;}
    .col-mb-8{width:66.666%;}
    .col-mb-7{width:58.333%;}
    .col-mb-6{width:50%;}
    .col-mb-5{width:41.666%;}
    .col-mb-4{width:33.333%;}
    .col-mb-3{width:25%;}
    .col-mb-2{width:16.666%;}
    .col-mb-1{width:8.333%;}

    /* often-menu */
    #often-menu a{
        border:0.5px solid gray;
        width: 100%;
    }
    .often-menu-banner{
        display: none!important;
    }
    .often-menu-col{
        display: inline-table;
        width:100%;
    }
    #slide{height:max-content!important;} /* 모바일시 height값 먼저 변경하자 ㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱ*/
}
#slide{height:396px;position:relative;overflow:hidden;}
#slide ul{margin-top:0;width:400%;height:100%;transition:1s;}
#slide ul:after{content:"";display:block;clear:both;}
#slide li{float:left;width:25%;height:100%;}
#slide li:nth-child(1){background:#faa;}
#slide li:nth-child(2){background:#ffa;}
#slide li:nth-child(3){background:#faF;}
#slide li:nth-child(4){background:#aaf;}
#slide input{display:none;}
#slide label{display:inline-block;vertical-align:middle;width:10px;height:10px;border:2px solid #666;background:#fff;transition:0.3s;border-radius:50%;cursor:pointer;}
#slide .pos{text-align:center;position:absolute;bottom:10px;left:0;width:100%;text-align:center;}
#pos1:checked~ul{margin-left:0%;}
#pos2:checked~ul{margin-left:-100%;}
#pos3:checked~ul{margin-left:-200%;}
#pos4:checked~ul{margin-left:-300%;}
#pos1:checked~.pos>label:nth-child(1){background:#666;}
#pos2:checked~.pos>label:nth-child(2){background:#666;}
#pos3:checked~.pos>label:nth-child(3){background:#666;}
#pos4:checked~.pos>label:nth-child(4){background:#666;}